// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: $oc-gray-9;

// Primary/body text
$mainFont: 'Open Sans', 'Lato', sans-serif;
$mainFontSize: 40px;
$mainColor: $oc-gray-0;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'STARWARS', Impact, sans-serif;
$headingColor: $oc-yellow-5;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: $oc-blue-6;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: $oc-yellow-5;
$selectionColor: $oc-gray-0;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
  background: $backgroundColor;
}
