/**
 * CSS IMPORTS
 */
@import "../../node_modules/font-awesome/css/font-awesome.css";
@import "../../node_modules/reveal.js/css/reveal.css";
@import "../../node_modules/highlight.js/styles/atom-one-dark.css";

/**
 * SASS IMPORTS
 */
@import 'open-color';
@import 'mixins';
@import 'common';
@import './themes/star-wars/star-wars';
@import 'theme';
